<div class="row">
  <div class="col-md-12">
  <div class="user-forms2 well well-lg">
    <h2 class="form-title">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <strong>Full name</strong> <%= f.email_field :fullname, autofocus: true, :class => "textfield"  %>
      </div>

      <div class="field">
        <%= f.label :email %> <%= f.email_field :email, :class => "textfield" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="textfield" >Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-instructions">
        <i>(leave blank if you don't want to change it)</i>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password %> <%= f.password_field :password, autocomplete: "off", :class => "textfield"  %>
      </div>

      <div class="field">
        <strong>Confirmation</strong> <%= f.password_field :password_confirmation, autocomplete: "off", :class => "textfield"  %>
      </div>
      <div class="form-instructions">
        <i>(current password to confirm changes)</i><br />
      </div>

      <div class="field">
        <%= f.label :current_password %><%= f.password_field :current_password, autocomplete: "off", :class => "textfield" %>
      </div>

      <div class="actions buttons-centered">
        <%= f.submit "Update", :class=>"btn btn-primary login" %>
      </div>
    <% end %>

    <div class="cancel">
      <h3 class="form-title">Cancel my account</h3>
      <p class="form-notes">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"btn btn-warning login"%></p>
      <%= link_to "Back", :back %>
    </div>
</div>
</div>
</div>
