<div class="row">
  <div class="col-md-4 col-md-offset-1">
  <div class="user-forms well well-lg">
    <h2 class="form-title">Change your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="field">
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "textfield" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "textfield" %>
      </div>

      <div class="actions buttons-centered">
        <%= f.submit "Change my password", :class=>"btn btn-primary login" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec pharetra est. Nulla sit amet consectetur odio. Ut sem neque, ornare in sodales a, eleifend et massa. Vestibulum dapibus feugiat nulla ut mollis. Quisque sodales nisl at felis efficitur ultrices. Maecenas sodales non metus id sagittis. Phasellus tincidunt, quam suscipit pellentesque posuere, massa ligula consequat neque, a fringilla turpis nisl ac sem. Donec nec purus vel velit vulputate congue ut non tortor. Nam aliquet interdum risus vitae condimentum. Nunc sodales molestie vehicula. Nulla aliquam congue ex, in varius ante fermentum a. Vestibulum et vestibulum elit. Phasellus id accumsan justo. Donec pellentesque placerat ex at pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc consectetur velit vitae mattis lacinia.</p>

  <p>Quisque vel velit euismod, efficitur ligula eu, dapibus risus. Sed lobortis aliquam justo, vitae gravida dui elementum non. Mauris pellentesque efficitur ante eget laoreet. Pellentesque sed lorem mauris. Nullam ultricies pellentesque quam sed pharetra. Cras eleifend libero ac tortor pellentesque ullamcorper. Vestibulum cursus orci vitae malesuada aliquam. Etiam sit amet condimentum risus, a varius metus. Pellentesque euismod dapibus velit, iaculis tincidunt neque lobortis a. Ut scelerisque nisi ac odio lacinia finibus.</p>
  </div>
  </div>

  </div>
