<div class="hero-content">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
    <div class="well well-lg hero-text">
      <h1>About the Repository</h1>
      <p>Built for busy offices and groups with high-volumes of digital documents. This engine makes it easy to upload PDFs. They are instantly stored, stripped and ready to retrieve at any time.  </p>
      <p>This enterprise application will notify teams when new documents have been uploaded allowing everyone to keep in touch and aware of new assets.
      <div class="welcome-buttons">
        <%= link_to "Login", user_session_path, class: "btn btn-success standard-button" %>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-primary standard-button" %>
      </div>
    </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
    </div>
  </div>
</div>
<div class="page-spacer"></div>
<div class="row space-after-page-100">
  <div class="col-md-4 proof-point">
    <div class="main_icon">
      <%= image_tag("library-icon.png") %>
    </div>
    <h2>Full Access</h2>
    <p>This web application allows all documents to be archived and accessable to all team members. ROBOT Repository is perfect for collaboration teams.</p>
  </div>
  <div class="col-md-4 proof-point">
    <div class="main_icon">
      <%= image_tag("document-type-icon.png") %>
    </div>
    <h2>Supported File Types</h2>
    <p>ROBOT Repository supports PDFs (portable document format) for upload and indexing. Built for agency-like environments this archive library is indexed and searchable to all.</p>
  </div>
  <div class="col-md-4 proof-point">
    <div class="main_icon">
      <%= image_tag("team-work-icon.png") %>
    </div>
      <h2>Team Notifications</h2>
    <p>Having trouble keeping the team informed with new document uploads and updates? Not to worry, ROBOT notifications get sent to all team members that are registered, automatically.</p>
  </div>
</div>
