<div class="container margin-after-50">
  <div class="pull-right">
    <%= form_tag(documents_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], autocomplete: :off, placeholder: "Search Respository", :class => "search", :autofocus => true %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-success' %>
    <% end %>
  </div>
  <h2 class="page-title">LIBRARY</h2>
  <% if @documents.count > 0 %>
    <div class="pull-right results"><%= "#{@results} Results Found." %></div>
    <table class = "table table-striped padding-before-table margin-before-50 margin-after-50">
      <tr>
        <th colspan="3">
          List of documents
          <div class="pull-right"><%= paginate @documents %></div>
        </th>
      </tr>
      <% @documents.each do |document| %>
        <tr>
          <td colspan="3"><span class="upload-main-info"><strong><%= link_to truncate(document.title, length: 60, separator: ' ... '), document %></strong> &nbsp;&nbsp;&nbsp;<span class="upload-info">[ <%= document.created_at.localtime.strftime('%c') %> ]</span></span><br />
            <small><%= link_to truncate(document.file_full_text, length: 550, separator: ' ... more '), document %></small>
          </td>
        </tr>
      <% end %>
    </table>
    <span class="pull-right"><%= paginate @documents %></span>
  <% else %>
    <h3>There are no results found.</h3>
    <p> To get started, <%= link_to "upload a document", new_document_path %>!</p>
  <% end %>
</div>
