<div class="container">
  <!-- <a href="documents/new" class="navbar-btn btn-success btn pull-right"><span class="glyphicon glyphicon-star"></span>  Upload New Document</a> -->
  <div class="pull-right">
    <%= form_tag(documents_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], autocomplete: :off, placeholder: "Search Respository", :class => "search", :autofocus => true %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-success' %>
    <% end %>
  </div>
  <h2>Library</h2>
  <% if @documents.count > 0 %>
    <span class="pull-right"><%= "#{@results} Results Found." %></span>
    <span class="pull-right"></span>
    <table class = "table table-striped padding-before-table margin-before-50">
      <tr>
        <th colspan="3">List of Documents</th>
      </tr>
      <% @documents.each do |document| %>
        <tr>
          <td colspan="3"><span class="upload-main-info"><strong><%= link_to truncate(document.title, length: 40, separator: ' ... '), document %></strong> | <%= truncate(document.description, length: 50, separator: ' ... ') %> <span class="upload-info">[ <%= document.created_at.localtime.strftime('%c') %> ]</span></span><br />
            <small><%= link_to truncate(document.file_full_text, length: 550, separator: ' ... more '), document %></small>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h4>There are no results found.</h4>
  <% end %>
