<!DOCTYPE html>
<html>
<head>
  <title>Document Repository</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Document Repository", root_path, class: "navbar-brand" %>
      </div>

        <% if user_signed_in? %>
        <ul class="nav navbar-nav">

          <li><%= link_to "Document Library", documents_path %>
          <li><a href="#">Page 2</a></li>
          <li><a href="user_admin">Users</a></li>
        </ul>
        <ul class="navbar-nav-userstate navbar-right">
          <%= link_to current_user.fullname, edit_user_registration_path %> | <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </ul>
        <% else %>
        <ul class="navbar-nav-userstate navbar-right">
          <%= link_to "Register", new_user_registration_path %> -
          <%= link_to "Login", new_user_session_path %>
        </ul>
        <% end %>

    </div>
  </nav>
  <div class="container">
    <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>
    <%= yield %>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - Site Built By RobotScissors
           <a href="#" target="_blank" >This is some information</a>
      </p>
      <% if user_signed_in? %>
        <a href="documents/new" class="navbar-btn btn-success btn pull-right"><span class="glyphicon glyphicon-star"></span>  Upload New Document</a>
      <% end %>
    </div>

</body>
</html>
